*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
    }
    
    body{
    overflow:hidden;
    }
    
    .main{
    width:100%;
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url(1.jpg);
    background-size:cover;
    background-position:center;
    }
    
    .navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 60px;
    }
    
    .logo{
    color:#ff7200;
    font-size:32px;
    }
    
    ul{
    display:flex;
    gap:25px;
    list-style:none;
    }
    
    ul li a{
    color:white;
    text-decoration:none;
    font-size:14px;
    }
    
    .search{
    display:flex;
    }
    
    .search input{
    padding:8px;
    border:1px solid #ff7200;
    background:transparent;
    color:white;
    outline:none;
    }
    
    .search button{
    background:#ff7200;
    border:none;
    padding:5px 5px;
    cursor:pointer;
    }
    
    .content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 80px;
    height:80vh;
    color:white;
    }
    
    .text{
    max-width:500px;
    }
    
    .text h1{
    font-size:45px;
    line-height:60px;
    }
    
    .text span{
    color:#ff7200;
    }
    
    .join{
    margin-top:20px;
    padding:10px 30px;
    background:#ff7200;
    border:none;
    border-radius:20px;
    cursor:pointer;
    }
    
    .login{
    width:280px;
    background:black;
    padding:30px;
    border-radius:15px;
    }
    
    .login h2{
    background:white;
    color:#ff7200;
    text-align:center;
    padding:8px;
    border-radius:20px;
    margin-bottom:20px;
    }
    
    .login input{
    width:100%;
    margin-top:15px;
    background:transparent;
    border:none;
    border-bottom:1px solid #ff7200;
    padding:8px;
    color:white;
    outline:none;
    }
    
    .login-btn{
    width:100%;
    margin-top:25px;
    padding:10px;
    background:#ff7200;
    border:none;
    border-radius:20px;
    cursor:pointer;
    }
    
    .login p{
    text-align:center;
    margin-top:15px;
    font-size:14px;
    }
    
    .login span{
    color:#ff7200;
    }
    
    .icons{
    text-align:center;
    margin-top:15px;
    }
    
    .icons i{
    color:white;
    margin:8px;
    font-size:18px;
    cursor:pointer;
    }
    